## Logs of any yarn add errors
yarn-error.log

## Modules from install Node
node_modules

## webpack bundle files
public/bundle.js

# Additional files created when Tailwind builds the CSS styling for the application
public/output.css
